.header__nav {
    padding: 29px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}

.nav__list {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.nav__link {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.nav__link:hover {
    color: #5d5d5d;
    transition: 0.2s ease-in;
}

.header__buttons {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.sign-up {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    padding: 7px 24px;
    border: 2px solid #000000;
    border-radius: 30px;
}

.language {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

}

.language__option {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}